/* Base stuff */
/* Reset */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*Mixins*/
.like-link {
  position: relative;
  margin-left: 25px;
}
.like-link:before {
  content: '';
  position: absolute;
  left: -24px;
  top: -1px;
  width: 20px;
  height: 21px;
  background: url(../img/icons/likes.png);
}
.like-link:hover, .like-link:focus, .like-link.active {
  text-decoration: none;
}
.like-link:hover:before, .like-link:focus:before, .like-link.active:before {
  background-position: 0 -21px;
}

.like-btn {
  display: inline-block;
  width: 20px;
  height: 21px;
  background: url(../img/icons/likes.png);
}
.like-btn.like-up {
  background-position: 0 0;
}
.like-btn.like-up:hover, .like-btn.like-up:focus, .like-btn.like-up.active {
  background-position: 0 -21px;
}
.like-btn.like-down {
  background-position: 20px 0;
}
.like-btn.like-down:hover, .like-btn.like-down:focus, .like-btn.like-down.active {
  background-position: 20px -21px;
}

.social-v1 {
  padding: 12px 0 11px;
  text-align: center;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.social-v1 .social-holder {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
}
.social-v1 .social-icon {
  display: inline-block;
  width: 26px;
  height: 25px;
  background: url(../img/icons/social-v1.png);
}
.social-v1 .social-icon.ytb {
  background-position: 0 0;
}
.social-v1 .social-icon.ytb:hover {
  background-position: -26px 0;
}
.social-v1 .social-icon.tw {
  background-position: 0 -30px;
}
.social-v1 .social-icon.tw:hover {
  background-position: -26px -30px;
}
.social-v1 .social-icon.fb {
  background-position: 0 -60px;
}
.social-v1 .social-icon.fb:hover {
  background-position: -26px -60px;
}
.social-v1 .social-icon.gplus {
  background-position: 0 -90px;
}
.social-v1 .social-icon.gplus:hover {
  background-position: -26px -90px;
}
.social-v1 .social-icon.pst {
  background-position: 0 -120px;
}
.social-v1 .social-icon.pst:hover {
  background-position: -26px -120px;
}

.social-v2 {
  text-align: center;
  cursor: default;
}
.social-v2 .social-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/icons/social-v2.png);
}
.social-v2 .social-icon.pst {
  background-position: 0 0;
}
.social-v2 .social-icon.pst:hover {
  background-position: 0 -20px;
}
.social-v2 .social-icon.gplus {
  background-position: -20px 0;
}
.social-v2 .social-icon.gplus:hover {
  background-position: -20px -20px;
}
.social-v2 .social-icon.tw {
  background-position: -40px 0;
}
.social-v2 .social-icon.tw:hover {
  background-position: -40px -20px;
}
.social-v2 .social-icon.fb {
  background-position: -60px 0;
}
.social-v2 .social-icon.fb:hover {
  background-position: -60px -20px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #2b2b2b;
  background: #3f3f3f;
  padding-bottom: 35px;
}
@media only screen and (max-width: 767px) {
  body {
    padding-top: 60px;
    padding-bottom: 0;
    background: #363737;
  }
}

.body-scroll-disable {
  overflow-y: hidden;
}

a.blue {
  color: #305581;
  border-bottom: 1px solid #305581;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
a.blue:focus, a.blue:hover {
  color: #305581;
  outline: none;
  text-decoration: none;
  border-bottom-color: transparent;
}

button {
  outline: none;
}

.container-fluid {
  max-width: 1600px;
}

.content {
  max-width: 1600px;
  margin: auto;
}

.email-page-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 35px;
  background: #2b2b2b;
  z-index: 100;
}
.email-page-footer ul.list-inline {
  padding-top: 8px;
}
.email-page-footer ul.list-inline li {
  padding-left: 10px;
  padding-right: 10px;
}
.email-page-footer ul.list-inline li a {
  line-height: 1.4;
  font-size: 14px;
  color: #ffffff;
}
.email-page-footer .footer-left {
  text-align: left;
  min-width: 250px;
}
.email-page-footer .footer-right {
  text-align: right;
}
@media only screen and (max-width: 991px) {
  .email-page-footer ul.list-inline li {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .email-page-footer {
    position: static;
    height: auto;
    padding-bottom: 8px;
  }
  .email-page-footer .footer-left, .email-page-footer .footer-right {
    text-align: center;
  }
}

h1 {
  font-size: 36px;
  color: #2b2b2b;
}

p {
  font-size: 17px;
  color: #2b2b2b;
}

.email-page-header {
  height: 65px;
  width: 100%;
  background: #2b2b2b;
  position: relative;
}
.email-page-header:before {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 1px;
  background: #fea700;
  background: -moz-linear-gradient(left, #ff6000 0%, #be510f 20%, #fea700 40%, #f59305 60%, #f38405 80%, #ae4613 100%);
  background: -webkit-linear-gradient(left, #ff6000 0%, #be510f 20%, #fea700 40%, #f59305 60%, #f38405 80%, #ae4613 100%);
  background: -o-linear-gradient(left, #ff6000 0%, #be510f 20%, #fea700 40%, #f59305 60%, #f38405 80%, #ae4613 100%);
  background: -ms-linear-gradient(left, #ff6000 0%, #be510f 20%, #fea700 40%, #f59305 60%, #f38405 80%, #ae4613 100%);
  background: linear-gradient(left, #ff6000 0%, #be510f 20%, #fea700 40%, #f59305 60%, #f38405 80%, #ae4613 100%);
  opacity: .72;
}
@media only screen and (max-width: 767px) {
  .email-page-header {
    height: 60px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
  }
  .email-page-header:before {
    z-index: 100;
    opacity: 1;
  }
}
.email-page-header .email-page-logo {
  padding-top: 12px;
  position: relative;
  z-index: 80;
}
@media only screen and (max-width: 767px) {
  .email-page-header .email-page-logo {
    position: absolute;
    top: 2px;
    left: 50%;
    margin-left: -65px;
  }
  .email-page-header .email-page-logo img {
    width: 130px;
  }
}
.email-page-header .email-page-search-btn {
  position: absolute;
  right: 20px;
  top: 15px;
}
.email-page-header .search-holder {
  float: right;
  margin-left: 10px;
  z-index: 70;
  position: relative;
}
.email-page-header .search-holder ::-webkit-input-placeholder {
  color: #ffffff;
}
.email-page-header .search-holder ::-moz-placeholder {
  color: #ffffff;
}
.email-page-header .search-holder :-moz-placeholder {
  color: #ffffff;
}
.email-page-header .search-holder :-ms-input-placeholder {
  color: #ffffff;
}
.email-page-header .search-holder input[type="text"] {
  padding: 0 10px;
  height: 36px;
  line-height: 20px;
  width: 220px;
  font-size: 14px;
  color: #ffffff;
  border: none;
  outline: none;
  background: #626262;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
.email-page-header .search-holder .email-page-search-inner {
  padding-top: 14px;
}
.email-page-header .search-holder .email-page-search-result {
  border-top: 1px solid #6b6b6b;
}
.email-page-header .search-holder .email-page-search-result li {
  border-bottom: 1px solid #6b6b6b;
}
.email-page-header .search-holder .email-page-search-result li a {
  display: block;
  font-size: 25px;
  padding: 15px;
  line-height: 1;
  color: #ffffff;
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  .email-page-header .search-holder {
    width: 100%;
    height: calc(100% - 60px);
    position: fixed;
    left: 0;
    top: 61px;
    margin: 0;
    display: none;
  }
  .email-page-header .search-holder .email-page-search-inner {
    padding-top: 0;
    background: #3f3f3f;
    height: 100%;
  }
  .email-page-header .search-holder .email-page-search-inner-content {
    padding-top: 14px;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 30px;
  }
  .email-page-header .search-holder .email-page-search-inner h5 {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 15px;
  }
  .email-page-header .search-holder .email-page-search-inner .email-page-input-holder {
    padding: 0 15px 20px;
  }
  .email-page-header .search-holder .email-page-search-inner .email-page-input-holder input[type="text"] {
    width: 100%;
    height: 55px;
    font-size: 27px;
    background: #2b2b2b;
    line-height: 40px;
    padding: 0 25px;
  }
}
.email-page-header .nav {
  float: right;
}
.email-page-header .nav .nav-divider {
  background: none;
}
.email-page-header .nav > li {
  float: left;
}
.email-page-header .nav > li > a {
  padding: 25px 20px 24px;
  font-size: 15px;
  color: #ffffff;
}
.email-page-header .nav > li > a:hover, .email-page-header .nav > li > a:focus {
  opacity: .9;
  background: none;
}
.email-page-header .nav > li .dropdown-menu {
  padding: 10px 0;
  background: #2b2b2b;
  border: none;
  margin-top: 1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.email-page-header .nav > li .dropdown-menu > li {
  padding: 3px 20px;
}
.email-page-header .nav > li .dropdown-menu > li > a {
  padding: 0;
  font-size: 13px;
  color: #ffffff;
}
.email-page-header .nav > li .dropdown-menu > li > a:hover, .email-page-header .nav > li .dropdown-menu > li > a:focus {
  opacity: .9;
  background: none;
}
.email-page-header .nav > li .dropdown-menu.dropdown-large {
  width: 650px;
  left: auto;
  right: -415px;
  padding-left: 10px;
}
.email-page-header .nav > li .dropdown-menu.dropdown-large > li {
  width: 33%;
  float: left;
}
.email-page-header .nav > li .dropdown-menu.dropdown-large > li > a {
  display: inline-block;
}
@media only screen and (max-width: 767px) {
  .email-page-header .nav > li {
    float: none;
    border-bottom: 1px solid #6b6b6b;
  }
  .email-page-header .nav > li > a {
    font-size: 25px;
    padding: 15px;
  }
  .email-page-header .nav > li .dropdown-menu {
    padding: 0;
    float: none;
    position: static;
    width: 100%;
  }
  .email-page-header .nav > li .dropdown-menu > li {
    border-top: 1px solid #6b6b6b;
    padding: 0;
  }
  .email-page-header .nav > li .dropdown-menu > li a {
    font-size: 25px;
    padding: 15px;
    line-height: 1;
    white-space: normal;
  }
  .email-page-header .nav > li .dropdown-menu.dropdown-large {
    width: 100%;
    padding-left: 0;
  }
  .email-page-header .nav > li .dropdown-menu.dropdown-large > li {
    width: 100%;
    float: none;
  }
}
.email-page-header .nav .open:before {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 1px;
  background: #2b2b2b;
}
.email-page-header .nav .open > a {
  background: none;
}
.email-page-header .nav .open > a:hover, .email-page-header .nav .open > a:focus {
  background: none;
}
@media only screen and (max-width: 767px) {
  .email-page-header .nav .open > a {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
  }
}
@media only screen and (max-width: 767px) {
  .email-page-header .nav {
    float: none;
    overflow-y: scroll;
    height: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-header {
    height: 60px;
  }
}

.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
  z-index: 50;
  position: relative;
}

.container-fluid > .navbar-header {
  z-index: 80;
}

@media only screen and (max-width: 767px) {
  .container-fluid > .navbar-collapse {
    background: #3f3f3f;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: calc(100% - 60px);
    border-top: none;
  }
}

.navbar-toggle {
  float: left;
  border: none;
  margin: 0;
  margin-top: 6px;
  margin-left: 10px;
  background: #3f3f3f;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.navbar-toggle .icon-bar {
  width: 35px;
  height: 4px;
  background: #ffffff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 8px;
}
.navbar-toggle.collapsed {
  background: #2b2b2b;
}
.navbar-toggle.collapsed .icon-bar {
  background: #ffffff;
}

.email-page-subheader {
  padding: 40px 0 25px;
}
.email-page-subheader-inner {
  padding: 15px;
  background: #2b2b2b;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
.email-page-subheader-inner p {
  color: #ffffff;
  font-size: 17px;
  line-height: 1.2;
}
.email-page-subheader-inner p img {
  margin-right: 8px;
  margin-bottom: -2px;
}
.email-page-subheader-inner.social-v1 {
  padding: 12px 0 11px;
}
.email-page-subheader-title {
  text-align: center;
}

.email-page-subheader-info {
  margin: 10px 0;
  background: #ffffff;
  padding: 25px 240px 25px 25px;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
.email-page-subheader-info .social-v1 {
  width: 190px;
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 0;
}
.email-page-subheader-info .arrow-holder {
  position: absolute;
  top: 35px;
  right: 25px;
}
.email-page-subheader-info .arrow-holder a img {
  margin-left: 8px;
  margin-top: -1px;
}
.email-page-subheader-info .popular-requests {
  position: absolute;
  bottom: 25px;
  right: 25px;
  width: 350px;
  text-align: right;
  z-index: 10;
}
.email-page-subheader-info .popular-requests h3 {
  font-size: 17px;
  color: #ff6000;
  margin-right: 2px;
}
.email-page-subheader-info .popular-requests a {
  display: inline-block;
  font-size: 14px;
  color: #3f3f3f;
  text-decoration: none;
  background: #e6e6e6;
  margin: 10px 2px 0;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.email-page-subheader-info p {
  font-size: 15px;
  line-height: 1.2;
}
.email-page-subheader-info a {
  font-size: 15px;
  color: #1d426f;
  text-decoration: underline;
}
.email-page-subheader-info a:hover {
  text-decoration: none;
}
.email-page-subheader-info a img {
  vertical-align: middle;
}
.email-page-subheader-info-nav {
  margin-top: 20px;
}
.email-page-subheader-info-nav .section {
  margin-right: 25px;
  display: inline-block;
}
.email-page-subheader-info-nav .section a img {
  margin-top: -3px;
  margin-right: 5px;
}
.email-page-subheader-info-inner {
  margin-top: 20px;
  padding-right: 240px;
  position: relative;
}
.email-page-subheader-info-inner .date {
  position: absolute;
  right: -215px;
  top: -40px;
  font-size: 15px;
}
.email-page-subheader-info-inner p img {
  vertical-align: middle;
  margin-right: 5px;
}
.email-page-subheader-info-inner p.coupon-info {
  max-width: 580px;
}
.email-page-subheader-info .subheader-links {
  margin-top: 20px;
}
.email-page-subheader-info .subheader-links a {
  margin-right: 20px;
  line-height: 1.2;
}
.email-page-subheader-info.email-page-subheader-collapse .social-v1 {
  top: auto;
  bottom: 25px;
  z-index: 5;
}
.email-page-subheader-info.email-page-subheader-collapse .email-page-subheader-info-inner {
  display: none;
}
.email-page-subheader-info.email-page-subheader-collapse.collapsed {
  padding-right: 25px;
}
.email-page-subheader-info.email-page-subheader-collapse.collapsed .date {
  right: 0;
}
.email-page-subheader-info.email-page-subheader-collapse.collapsed .subheader-info-inner {
  padding-right: 450px;
}
@media only screen and (max-width: 1199px) {
  .email-page-subheader-info-inner {
    padding-right: 150px;
  }
}
@media only screen and (max-width: 991px) {
  .email-page-subheader-info-inner {
    padding-right: 0;
  }
  .email-page-subheader-info .popular-requests {
    width: 240px;
  }
  .email-page-subheader-info.email-page-subheader-collapse.collapsed .email-page-subheader-info-inner {
    padding-right: 215px;
  }
}
@media only screen and (max-width: 767px) {
  .email-page-subheader-info {
    padding-right: 25px;
  }
  .email-page-subheader-info .arrow-holder {
    display: none;
  }
  .email-page-subheader-info-nav .section {
    margin-top: 5px;
  }
  .email-page-subheader-info-inner .date {
    display: none;
  }
  .email-page-subheader-info .popular-requests {
    display: none;
  }
  .email-page-subheader-info.email-page-subheader-collapse .email-page-subheader-info-inner {
    display: block;
  }
  .email-page-subheader-info.email-page-subheader-collapse.collapsed .email-page-subheader-info-inner {
    padding-right: 0;
  }
}

.email-page-carousel {
  width: 750px;
  margin: auto;
  padding-bottom: 30px;
  position: relative;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides .mail-holder {
  margin: auto;
}
.rslides img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  border: 0;
}

.rslides_tabs {
  margin-bottom: 50px;
  position: relative;
  text-align: center;
}
.rslides_tabs:before {
  content: '';
  position: absolute;
  bottom: -32px;
  left: 50%;
  height: 18px;
  width: 82px;
  margin-left: -41px;
  background: url(../img/icons/carousel-arrow-down.png);
}
.rslides_tabs li {
  display: inline-block;
  opacity: .5;
  margin: 0 4px;
}
.rslides_tabs li a {
  display: block;
  width: 90px;
  height: 90px;
  overflow: hidden;
}
.rslides_tabs li.rslides_here {
  opacity: 1;
}
.rslides_tabs img {
  max-width: 90px;
}

.rslides_nav {
  position: absolute;
  top: 23px;
  width: 10px;
  height: 46px;
  text-indent: -9999px;
  background: url(../img/icons/carousel-arrows.png);
}
.rslides_nav:hover {
  opacity: .8;
}
.rslides_nav.prev {
  background-position: 0 0;
  left: -15px;
}
.rslides_nav.next {
  background-position: -12px 0;
  right: -15px;
}
