header {
    height: 65px;
    width: 100%;
    background: $gray;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 1px;
        background: #fea700;
        background: -moz-linear-gradient(left, #ff6000 0%, #be510f 20%, #fea700 40%, #f59305 60%, #f38405 80%, #ae4613 100%);
        background: -webkit-linear-gradient(left, #ff6000 0%, #be510f 20%, #fea700 40%, #f59305 60%, #f38405 80%, #ae4613 100%);
        background: -o-linear-gradient(left, #ff6000 0%, #be510f 20%, #fea700 40%, #f59305 60%, #f38405 80%, #ae4613 100%);
        background: -ms-linear-gradient(left, #ff6000 0%, #be510f 20%, #fea700 40%, #f59305 60%, #f38405 80%, #ae4613 100%);
        background: linear-gradient(left, #ff6000 0%, #be510f 20%, #fea700 40%, #f59305 60%, #f38405 80%, #ae4613 100%);
        opacity: .72;
    }
    .logo {
        padding-top: 12px;
    }
    .search-holder {
        float: right;
        padding-top: 14px;
        ::-webkit-input-placeholder {
          color: $white;
        }
        ::-moz-placeholder {
          color: $white;
        }
        :-moz-placeholder {
          color: $white;
        }
        :-ms-input-placeholder      {
          color: $white;
        }
        input[type="text"] {
            padding: 0 10px;
            height: 36px;
            line-height: 20px;
            width: 220px;
            font-size: 14px;
            color: $white;
            border: none;
            outline: none;
            background: #626262;
            @include border-radius (8px);
        }
        @media #{$mobile} {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    .nav {
        float: right;
        .nav-divider {
            background: none;
        }
        > li {
            float: left;
            > a {
                padding: 24px 15px;
                font-size: 15px;
                color: $white;
                &:hover, &:focus {
                    background: none !important;
                }
            }
            .dropdown-menu {
                > li {
                    > a {
                        &:hover, &:focus {
                        }
                    }
                }
            }
        }
        .open {
            > a {
                background: none;
                &:hover, &:focus {
                    background: none;
                }
            }
        }
    }
}