@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: $regular;
    color: $gray;
    background: #3f3f3f;
    @media #{$mobile} {
        background: #363737;
    }
}

a.blue {
    color: $blue;
    border-bottom: 1px solid $blue;
    @include transition (all, 0.2s, linear);
    &:focus, &:hover {
        color: $blue;
        outline: none;
        text-decoration: none;
        border-bottom-color: transparent;
    }
}
button {
	outline: none;
}

.container-fluid {
    max-width: 1600px;
}
.content {
    max-width: 1600px;
    margin: auto;
}

