@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: $regular;
    color: $gray;
    background: #3f3f3f;
    padding-bottom: 35px;
    @media #{$mobile} {
        padding-top: 60px;
        padding-bottom: 0;
        background: #363737;
    }
}

.body-scroll-disable {
    overflow-y: hidden;
}

a.blue {
    color: $blue;
    border-bottom: 1px solid $blue;
    @include transition (all, 0.2s, linear);
    &:focus, &:hover {
        color: $blue;
        outline: none;
        text-decoration: none;
        border-bottom-color: transparent;
    }
}

button {
	outline: none;
}

.container-fluid {
    max-width: 1600px;
}
.content {
    max-width: 1600px;
    margin: auto;
}
.content-text {
    padding: 30px 15px;
    &-inner {
        background: $white;
        max-width: 860px;
        margin: auto;
        padding: 30px;
        @include border-radius (10px);
        @include box-shadow (0 2px 10px rgba(0,0,0,.7));
        h1, p {
            margin-bottom: 20px;
        }
        a {
            color: #305581;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
        .section {
            margin-bottom: 55px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
    background: $gray;
    z-index: 100;
    ul.list-inline {
        padding-top: 8px;
        li {
            padding-left: 10px;
            padding-right: 10px;
            a {
                line-height: 1.4;
                font-size: 14px;
                color: $white;
            }
        }
    }
    .footer-left {
        text-align: left;
        min-width: 250px;
    }
    .footer-right {
        text-align: right;
    }
    @media #{$tablet} {
        ul.list-inline {
            li {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
    @media #{$mobile} {
        position: static;
        height: auto;
        padding-bottom: 8px;
        .footer-left, .footer-right {
            text-align: center;
        }
    }
}

h1 {
    font-size: 36px;
    color: $gray;
}
p {
    font-size: 17px;
    color: $gray;
}

.feedback-form {
    label {
        font-size: 17px;
        margin-bottom: 10px;
    }
    input[type=text], input[type=password], textarea {
        width: 100%;
        margin-bottom: 30px;
        outline: none;
        border: 1px solid $gray;
        @include border-radius (5px);
    }
    input[type=text], input[type=password] {
        padding: 13px 15px;
    }
    textarea {
        padding: 15px;
        max-width: 100%;
        min-height: 175px;
    }
    .captcha-holder {
        margin-bottom: 30px;
        img {
            max-width: 100%;
        }
    }
}

.btn-orange {
    display: inline-block;
    padding: 10px 34px;
    font-size: 17px;
    color: $white;
    border: none;
    outline: none !important;
    background: #fb6d02;
    background: -moz-linear-gradient(bottom, #ff6100 0%, #fc6901 20%, #fb6d02 40%, #f77904 60%, #f38706 80%, #f18d07 100%);
    background: -webkit-linear-gradient(bottom, #ff6100 0%, #fc6901 20%, #fb6d02 40%, #f77904 60%, #f38706 80%, #f18d07 100%);
    background: -o-linear-gradient(bottom, #ff6100 0%, #fc6901 20%, #fb6d02 40%, #f77904 60%, #f38706 80%, #f18d07 100%);
    background: -ms-linear-gradient(bottom, #ff6100 0%, #fc6901 20%, #fb6d02 40%, #f77904 60%, #f38706 80%, #f18d07 100%);
    background: linear-gradient(bottom, #ff6100 0%, #fc6901 20%, #fb6d02 40%, #f77904 60%, #f38706 80%, #f18d07 100%);
    &:hover {
        color: $white;
        background: #fb6d02;
        background: -moz-linear-gradient(bottom, #ff6100 0%, #fc6901 20%, #fb6d02 40%, #f77904 60%, #f38706 80%, #f18d07 100%);
        background: -webkit-linear-gradient(bottom, #ff6100 0%, #fc6901 20%, #fb6d02 40%, #f77904 60%, #f38706 80%, #f18d07 100%);
        background: -o-linear-gradient(bottom, #ff6100 0%, #fc6901 20%, #fb6d02 40%, #f77904 60%, #f38706 80%, #f18d07 100%);
        background: -ms-linear-gradient(bottom, #ff6100 0%, #fc6901 20%, #fb6d02 40%, #f77904 60%, #f38706 80%, #f18d07 100%);
        background: linear-gradient(bottom, #ff6100 0%, #fc6901 20%, #fb6d02 40%, #f77904 60%, #f38706 80%, #f18d07 100%);
    }
    &:active {
        background: #fb6d02;
        background: -moz-linear-gradient(bottom, #f18d07 0%, #f38706 20%, #f77904 40%, #fb6d02 60%, #fc6901 80%, #ff6100 100%);
        background: -webkit-linear-gradient(bottom, #f18d07 0%, #f38706 20%, #f77904 40%, #fb6d02 60%, #fc6901 80%, #ff6100 100%);
        background: -o-linear-gradient(bottom, #f18d07 0%, #f38706 20%, #f77904 40%, #fb6d02 60%, #fc6901 80%, #ff6100 100%);
        background: -ms-linear-gradient(bottom, #f18d07 0%, #f38706 20%, #f77904 40%, #fb6d02 60%, #fc6901 80%, #ff6100 100%);
        background: linear-gradient(bottom, #f18d07 0%, #f38706 20%, #f77904 40%, #fb6d02 60%, #fc6901 80%, #ff6100 100%); 
    }
    &:focus {
        color: $white;
    }
}