$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

$black: #000000;
$white: #ffffff;

$gray: #2b2b2b;
$blue: #305581;

$desktop: "only screen and (max-width : 1199px)";
$tablet: "only screen and (max-width : 991px)";
$mobile: "only screen and (max-width : 767px)";


